.login-form {
  max-width: 400px; /* Formun maksimum genişliği */
  margin: 0 auto; /* Ortala */
  padding: 20px; /* İç boşluk */
  background-color: #fff; /* Beyaz arka plan */
  border-radius: 8px; /* Kenar yuvarlama */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Hafif gölge */
}

.login-form h1 {
  text-align: center; /* Başlığı ortala */
  margin-bottom: 20px; /* Alt boşluk */
}

.label {
  font-size: 14px; /* Etiket boyutu */
  margin-bottom: 8px; /* Alt boşluk */
  display: block; /* Etiketleri blok olarak göster */
}

.input-field {
  width: 100%; /* Genişliği %100 yap */
  padding: 12px; /* İç boşluk */
  margin-bottom: 20px; /* Alt boşluk */
  border: 1px solid #d1d1d1; /* Kenar rengi */
  border-radius: 4px; /* Kenar yuvarlama */
  font-size: 16px; /* Yazı boyutu */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* İç gölge */
}

.input-field:focus {
  border-color: #000; /* Fokusta kenar rengi */
  outline: none; /* Kenar çizgisi yok */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Dış gölge */
}

.provider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #d1d1d1;
  border-radius: 50px;
  background-color: #000; /* Siyah arka plan */
  color: #fff; /* Beyaz yazı rengi */
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.provider-button:hover {
  background-color: #333; /* Hover durumunda arka plan rengi */
}

.toggle-account {
  text-align: center; /* Ortala */
  margin-top: 10px; /* Üst boşluk */
}

.create-account-button {
  background: none; /* Arka plan yok */
  border: none; /* Kenar yok */
  color: #007bff; /* Mavi yazı rengi */
  cursor: pointer; /* İmleç işareti */
}

.create-account-button:hover {
  text-decoration: underline; /* Üzerine gelindiğinde altını çiz */
}

.error-message {
  color: red; /* Hata mesajı rengi */
  margin-top: 10px; /* Üst boşluk */
  text-align: center; /* Ortala */
}